<ion-view view-title="About">
  <div class="bar bar-subheader item-input-inset bar-light">

  </div>
<ion-content class="has-subheader" >
    <ion-item >
        <h3>Author</h3>
        <h2>Shane Lester</h2>
        <h2>shanesapps@hotmail.com</h2>
        </br>
        <h2>For support on formatting your own data-</h2>
        <h2>see support web page</h2>
        <h2>www.lesterweb.co.uk/shanesapps.html</h2>
        <br/>
        
        <h3>Original data content </h3>
        <h2>Ms Kate Blackmore</h2>        
        
        <h3>Based on code from</h3>
        <h2>Mirko Nasato- Ionic by Example on Udemy</h2>
        
        <h3>Icon based on icon from</h3>
        <h2>Nick Abrams the Noun Project</h2>

    </ion-item>

</ion-content>


</ion-view>