<ion-view view-title="Todo">
<!--
  <div class="bar bar-subheader item-input-inset bar-light">
      <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" ng-model="query" placeholder="Search">
      </label>
  </div>
-->
<ion-content class="has-subheader" >
<!--
      <ion-item ng-repeat="clinical in clinicals| filter:query" href="#/tab/list/{{clinical.title}}" class="item-text-wrap">
          <h3 ng-bind-html ="clinical.title"></h3>
          <h2 ng-bind-html ='clinical.summary |limitTo:200'></h2>
    </ion-item>
-->
<ion-item>
    Todo
</ion-item>

</ion-content>


</ion-view>